[submodule "3/AutomatizacionRobotizacion/Autodiagnostico/autodiagnostico"]
    path = 3/AutomatizacionRobotizacion/Autodiagnostico/autodiagnostico
    url = https://github.com/0xGeN02/autodiagnostico.git
[submodule "1/EstructuraDatos/Huffman-Codification/huffman-webpage"]
    path = 1/EstructuraDatos/Huffman-Codification/huffman-webpage
    url = https://github.com/0xGeN02/Huffman-Codification.git
[submodule "2/Automatas/TelephoneNumberAutomata"]
    path = 2/Automatas/TelephoneNumberAutomata
    url = https://github.com/0xGeN02/TelephoneNumberAutomata.git
[submodule "2/ComplejidadComputacuional/PokemonTeamGenerator"]
    path = 2/ComplejidadComputacuional/PokemonTeamGenerator
    url = https://github.com/0xGeN02/PokemonTeamGenerator.git
[submodule "2/IA/proyect"]
    path = 2/IA/proyect
    url = https://github.com/0xGeN02/chatbot_AI.git
[submodule "3/RobotsAutonomos/irobot-edu-python-sdk"]
    path = 3/RobotsAutonomos/irobot-edu-python-sdk
    url = https://github.com/iRobotEducation/irobot-edu-python-sdk.git