# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto
# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.c text
*.cpp text
*.h text
*.ino text
*.py text
*.md text
*.json text
*.ipynb text
*.csv text
# Declare files that will always have CRLF line endings on checkout.
*.bat text eol=crlf
# Declare files that will always have LF line endings on checkout.
*.sh text eol=lf
3/ComputacionGrafica/Proyecto.zip filter=lfs diff=lfs merge=lfs -text
